* {
  padding:0;
  margin:0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  background-color: #466365;
}
h1{
  margin-top: 30px;
  padding: 20px;;
  font-size: 62px;
  color:#62B6CB;
  background-color: #F1BF98;
  text-align:center;
  width: 100%;
}
#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:aliceblue;
  gap: 0px;
  width: 700px;
  height: 700px;
  margin-top: 30px;
  padding:10px;
  border-radius: 10px;
}
.draw-box{
  display: flex;
  width:650px;
  height: 650px;
  border-radius: 5px;
}

.grid-box{
  display:flex;
  flex-direction: column;
  flex: 1;
}
.grid-row{
  flex: 1;
}

/*Button*/
button{
  font-size: 22px;
  font-weight: 700;
  border-radius: 20px;
  border: 0;
  padding: 20px 30px;
  color:#62B6CB;
  background-color:#F1BF98;
}
